*{
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
    height: auto;
    
}

.form_login{
    
    border: 440px solid;
    margin: 140px auto ;
    width: 500px;
    background-color: white;
    border: 10px solid rgb(31, 174, 202);
}

form{
    
    margin: 35px auto ;
    width: 500px;
    background-color: white;
    border: 10px solid rgb(100, 201, 221);
}


body{
    background-image:url( https://w0.peakpx.com/wallpaper/409/452/HD-wallpaper-form-beograd.jpg);
    height:auto;
    width: 100%;
  
} 

#texto {
    border:1px solid blue;
    margin:0 18px 20px;
    font-size :20px;
    text-align: left;
    COLOR: rgb(35, 77, 133);
    width: 460px;
   
}


#Letra{
   
    margin-left: 12px;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    COLOR: rgb(78, 147, 236);
    width: 480 px;
}


.enviar{
    display:block;
    margin:0px auto;
    text-align:center;
    text-decoration:underline;
    width: 300px;
    color: white;
    background-color: rgb(76, 97, 214);
    font-size: 27px;
    padding: 8px;
    border: 3px rgb(69, 158, 218)solid;
}

#r_texto {
   margin:10px 10px 10px 30px;
   Color:black;
   font-size: 20px;
   
}

#T_texto {
    margin:20px 10px 10px 10px;
    Color:black;
    font-size: 20px;
    
 }

 #Terminos{
    color:blue;
    margin:20px 0px 18px 15px;
    text-align:center;
}
 
#radio{
    color:blue;
    margin:10px 0px 10px 15px;
}


h1{
    color:rgb(92, 94, 209);
    text-shadow: 3px 3px rgb(72, 215, 247);
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.OlvContR{
    display:block;
    margin:12px auto;
    text-align: center;
    font-size: 15px; 
}

.RegistrateAqui{
    font-size: 15px;
    margin-top:5px;
}

