*{
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    height: auto;
    
}

#form_login{
    
    /* border: 20px solid; */
    margin: 70px auto ;
    width: 600px;
    background-color: white;
    border: 10px solid rgb(18, 132, 155);
}

form{
    
    /* border: 20px solid; */
    margin: 35px auto ;
    width: 600px;
    background-color: white;
    border: 10px solid rgb(100, 201, 221);
}


body{
    background-image:url( https://w0.peakpx.com/wallpaper/409/452/HD-wallpaper-form-beograd.jpg);
    height:auto;
    width: 100%;
  
} 

#texto {
    border:1px solid blue;
    margin:0 18px 20px;
    font-size :20px;
    text-align: left;
    COLOR: rgb(35, 77, 133);
    width: 560px;
   
}


#Letra{
   
    margin-left: 12px;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    COLOR: rgb(78, 147, 236);
    width: 580 px;
}


.enviar{
    display:block;
    margin:0px auto;
    text-align:center;
    text-decoration:underline;
    width: 300px;
    color: white;
    background-color: rgb(76, 97, 214);
    font-size: 18px;
    padding: 15px;
}


h1{
    color:rgb(92, 94, 209);
    text-shadow: 3px 3px rgb(72, 215, 247);
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

.OlvCont{
    display:block;
    margin:12px auto;
    text-align: center;
    
   
}